---
import { type CollectionEntry, getCollection } from 'astro:content'
import BaseHead from '@/components/BaseHead.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'

import BentoCard from '@/components/BentoCard.astro'

export async function getStaticPaths() {
  const allPosts = await getCollection('blog')
  const allTags = await getCollection('tags')

  return allTags.map((tag) => {
    const filteredPosts = allPosts.filter(
      (post) =>
        post.data.tags && post.data.tags.map((t) => t.id).includes(tag.id),
    )

    return {
      params: { slug: tag.id },
      props: { tag, posts: filteredPosts },
    }
  })
}

type Props = {
  tag: CollectionEntry<'tags'>
  posts: CollectionEntry<'blog'>[]
}

const { posts: allPosts, tag } = Astro.props as Props
const posts = allPosts
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="bg-background text-foreground antialiased selection:bg-primary selection:text-background"
  >
    <div class="noise-overlay"></div>
    <Header />
    <main class="container py-20">
      <div class="flex flex-col gap-12 relative">
        <div
          class="absolute -top-8 left-0 font-mono text-xs tracking-widest text-foreground/40 select-none"
        >
          FIG 4.1 // FILTER
        </div>
        <h1
          class="text-6xl md:text-8xl font-serif leading-tight animate-in fill-mode-both fade-in slide-in-from-bottom-2 duration-1000"
        >
          Tag / {tag.data.name}
        </h1>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          {posts.map((post) => <BentoCard post={post} />)}
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
