---
import BaseHead from '@/components/BaseHead.astro'
import BlockAuthor from '@/components/BlockAuthor.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import Backdrop from '@/components/Backdrop.astro'
import Aurora from '../components/Aurora.astro'
---

<!doctype html>
<html>
  <head>
    <BaseHead title="About" description="About Brian Kimball" />
  </head>
  <body class="bg-background text-foreground antialiased">
    <Backdrop />
    <Header />
    <main class="container">
      <Aurora>
        <h1
          class="leading-tight text-8xl font-bold animate-in fade-in slide-in-from-bottom-2 fill-mode-both duration-1000"
        >
          About
        </h1>
      </Aurora>
      <div
        class="grid lg:grid-cols-5 gap-16 animate-in fade-in slide-in-from-bottom-2 fill-mode-both duration-1000 delay-150"
      >
        <section class="col-span-4 prose">
          <p>
            Brian Kimball is an engineer with knowledge of networking and
            development. He has a passion for Open Source application
            development. He combines that with the experience of working an MSP
            and CSP.
          </p>
          <p>
            Brian was trained in college as a graphic designer and web
            developer. That put him in position to work at an IT company. While
            there he worked his way up from helpdesk to a systems engineer. As
            the company grew, they introduced cloud services in which Brian
            helped build and was the lead technical resource. His passion for
            development remained and Brian continues to work in all areas of IT.
            When he says full-stack, he means he racked the server and
            configured the network his applications are running on.
          </p>
          <p>
            This website is a collection of projects he has worked on. Brian
            lives in Delaware with his wife; and their three kids. In his spare
            time, he enjoys Star Wars, the Ravens and the Baltimore Orioles.
          </p>
        </section>
        <aside class="col-span-1 flex flex-col gap-16">
          <div>
            <BlockAuthor />
          </div>
        </aside>
      </div>
    </main>
    <Footer />
  </body>
</html>
