---
import { twMerge } from 'tailwind-merge'
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div
  class:list={[
    twMerge(
      'bg-violet-500 absolute blur mix-blend-overlay w-[60vw] h-[60vh] rounded-[37%_29%_27%_27%/28%_25%_41%_37%]',
      className,
    ),
  ]}
>
</div>
