---
import { twMerge } from 'tailwind-merge'
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div
  class:list={[
    twMerge(
      'bg-primary/20 absolute blur mix-blend-overlay w-[60vw] h-[60vh] rounded-none',
      className,
    ),
  ]}
>
</div>
