---
import SocialLinks from './SocialLinks.astro'
import { Image } from 'astro:assets'
import meImg from '../assets/me_website_2026.png'
---

<div class="flex flex-col gap-6">
  <div
    class="grayscale hover:grayscale-0 transition-all duration-500 border-2 border-foreground/20 p-2 bg-secondary w-fit rounded-full"
  >
    <Image
      src={meImg}
      alt="Brian Kimball"
      class="w-48 h-auto aspect-square object-cover rounded-full"
      quality="max"
      format="png"
      widths={[192, 384, 768]}
      sizes="192px"
    />
  </div>

  <div class="flex flex-col gap-2">
    <div class="font-serif text-xl">Brian Kimball</div>
    <div class="font-mono text-xs tracking-widest text-primary/70">
      Systems Engineer / Developer
    </div>
    <div class="mt-2">
      <SocialLinks />
    </div>
  </div>
</div>
