---
import type { HTMLAttributes } from 'astro/types'
import { checkLinkActive } from '../lib/utils'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props as Props

const { pathname } = Astro.url
const isActive = checkLinkActive({ pathname, href })
---

<a
  href={href}
  class:list={[
    className,
    'py-6 inline-block no-underline',
    { 'active font-semibold': isActive },
    { 'text-amber-500': isActive && href === '/' },
    { 'text-sky-500': isActive && href === '/about' },
    { 'text-violet-500': isActive && href === '/blog' },
    { 'text-emerald-500': isActive && href === '/tags' },
  ]}
  {...props}
>
  <slot />
</a>
