---
import {
  FaBluesky,
  FaGithub,
  FaLinkedin,
  FaXTwitter,
  FaEnvelope,
} from 'react-icons/fa6'
---

<div class="flex items-center justify-between gap-4">
  <a
    href="https://twitter.com/_BrianKimball"
    target="_blank"
    class="animate-in fade-in fill-mode-both slide-in-from-bottom-2 duration-1000 hover:text-sky-500 hover:delay-0 hover:duration-300 transition"
  >
    <span class="sr-only">Follow Brian Kimball on X</span>
    <FaXTwitter />
  </a>
  <a
    href="https://github.com/bskimball"
    target="_blank"
    class="animate-in fade-in fill-mode-both slide-in-from-bottom-2 duration-1000 delay-75 hover:text-sky-500 hover:delay-0 hover:duration-300 transition"
  >
    <span class="sr-only">Go to Brian Kimball's GitHub repo</span>
    <FaGithub />
  </a>
  <a
    href="https://www.linkedin.com/in/brian-kimball-0499678a/"
    target="_blank"
    class="animate-in fade-in fill-mode-both slide-in-from-bottom-2 duration-1000 delay-150 hover:text-sky-500 hover:delay-0 hover:duration-300 transition"
  >
    <span class="sr-only">Go to Brian Kimball's Linkedin Profile</span>
    <FaLinkedin />
  </a>
  <a
    href="https://bsky.app/profile/briankimball.bsky.social"
    target="_blank"
    class="animate-in fade-in fill-mode-both slide-in-from-bottom-2 duration-1000 delay-300 hover:text-sky-500 hover:delay-0 hover:duration-300 transition"
  >
    <span class="sr-only">Follow Brian Kimball on Bluesky</span>
    <FaBluesky />
  </a>
  <a
    href="mailto:briankimball1982@gmail.com"
    class="animate-in fade-in fill-mode-both slide-in-from-bottom-2 duration-1000 delay-500 hover:text-sky-500 hover:delay-0 hover:duration-300 transition"
  >
    <span class="sr-only">Email Brian Kimball</span>
    <FaEnvelope />
  </a>
</div>
