---
import type { HTMLAttributes } from 'astro/types'
import { checkLinkActive } from '../lib/utils'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props as Props

const { pathname } = Astro.url
const isActive = checkLinkActive({ pathname, href })
---

<a
  href={href}
  class:list={[
    className,
    'hover:text-primary focus:text-primary transition duration-150',
    { 'active font-semibold text-primary': isActive },
  ]}
  {...props}
>
  <slot />
</a>
